<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Administración de usuarios y roles</title>
</head>
<body>
<table border="1">
	<thead>
		<tr>
			<th>id</th>
			<th>Name</th>
			<th>Acciones</th>
		</tr>
	</thead>
	<tbody>
	<tr>
		<td >1</td>
		<td>A&ntilde;adir usuarios</td>
		<td><a href="user/newUserFormThymeleaf"><button>Ir</button></a></td>
	</tr>
	<tr>
		<td>2</td>
		<td >Lista de usuarios</td>
		<td><a href="user/all"><button>Ir</button></a></td>
	</tr>	
		<tr>
		<td>3</td>
		<td>Agregar roles</td>
		<td><a href="rol/newRolFormThymeleaf"><button>Ir</button></a></td>
	</tr>
	<tr>
		<td>4</td>
		<td>Lista de Roles</td>
		<td><a href="rol/all"><button>Ir</button></a></td>
	</tr>
	</tbody>
</table>
</body>
</html>