<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1" />
<title>Creaci&oacute;n de nuevo usuario</title>
</head>
<body>
	<form action="/user/newUser4" method="post">
		<input type="text" id="name" name="name" placeholder="Nombre:" /><br/><br/>
		<input type="text" id="lastname" name="lastname" placeholder="Apellido Paterno:" required /><br/><br/>
		<input type="text" id="surname" name="surname" placeholder="Apellido Maternos:" /><br/><br/>
		<input type="number" id="age" name ="age" placeholder="Edad:" min="18"/><br/><br/>
		<input type="submit" />
	</form>
</body>
</html>